<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.6.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
          media="screen" rel="stylesheet">
</head>

<body class="container">

<h4>Customer</h4>
<table  class="table table-bordered">
    <tbody th:object="${customer}" class="tab-content">
        <tr>
            <td> ID </td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td> Name </td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td> Email </td>
            <td th:text="*{email}"></td>
        </tr>
        <tr>
            <td> Phone </td>
            <td th:text="*{phone}"></td>
        </tr>
    </tbody>
</table>

<script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.5.1/jquery.js"
        th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/popper.js/1.15.0/popper.min.js"
        th:src="@{/webjars/popper.js/1.15.0/popper.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.6.0/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.6.0/bootstrap.min.js}"></script>
</body>

</html>